{%load tree%}
{%load crispy_forms_tags%}
{% load recaptcha3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>
<body>
    
<div class="container m-5">

    <div class="row mr-5">
        <div class="col-md-3">
        </div>
                        <div class="col-md-6">
                            {{comments|comments_filter}}
                         </div>
                         
                            <div class="col-md-12">
                                <form action="{%url 'comment-create'%}" method="POST">
                                    {% csrf_token %}
                                 {{ form|crispy }}
                                    <input type='submit' class="btn btn-primary" value="Отправить">
                            </div>
            <div class="col-md-3">
                </div>

              
    </div>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $(".reply").on('click', function(){
            var commentId = $(this).attr('data-id')
            $("#form-"+commentId).fadeToggle();
        })
        $(".submit-reply").on('click', function(e){
            e.preventDefault()
            var parentId = $(this).attr('data-submit-reply')
            var id = $(this).attr('data-id')
            var text = $("#form-"+id).find('textarea[name="comment-text"]').val();
            function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            data = {
                user: "{{ request.user.username }}",
                parentId: parentId,
                text: text,
                id: id,
                csrfmiddlewaretoken: csrftoken
            }
            $.ajax({
                method: "POST",
                data: data,
                url: "{% url 'comment-child-create' %}",
                success: function(data){
                    window.location.replace('/')
                 }
            })
        })
  })
</script>

</html>